<div id="header">
  <ul id="headerUl">
    <li id="headerLi">@Html.ActionLink("Machines", "Index", "Machines")</li>
    <li id="headerLi">@Html.ActionLink("Engineers", "Index", "Engineers")</li>
    <li id="headerLiLeft">@Html.ActionLink("Dr. Sillystringz's Factory", "Index", "Home")</li>
  </ul>
</div>