@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer

<h3>Are you sure you want to delete this engineer from the database?</h3>

<strong>@Html.DisplayName("Name"):</strong> @Html.DisplayFor(model => model.EngineerName)
@using (Html.BeginForm())
{
  <br>
  <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.EngineerId}, new {@class="btn btn-primary btn-sm"})</p>
