@{
  Layout = "_Layout";
}

<br>
<div class="jumbotron">
  <h2>Welcome To Dr. Sillystringz's Factory Database</h2>
</div>
<div class="col-md-5">
  <br>
  <ul>
    <h3>List of Engineers:</h3>
    @foreach (var engineer in ViewBag.Eng)
    {
      <li>@engineer.EngineerName</li>
    }
  </ul>
</div>
<br>
<div class="col-md-5">
  <ul>
    <h3>List of Machines:</h3>
    @foreach (var machine in ViewBag.Mach)
    {
      <li>@machine.MachineName</li>
    }
  </ul>
</div>